html {
  background-color: rgb(98, 224, 255);
  text-align: center;
}
body {
  background-color: rgb(98, 224, 255);
  text-align: center;
}

.App {
  text-align: center;
  background-color: rgb(98, 224, 255);
  margin-top: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  #money-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#money-logo {
  width: 200px;
  height: 100%;
}

.ConverterContainer {
  margin-top: 10px;
}

.ui.card {
  margin-left: 20px;
  margin-right: 20px;
}

.ui.grid>.row {
  margin-left: 100px;
  margin-right: 100px;
  justify-content: center;
}

.ui.grid {
  margin-top: 50px;
}

.ui.card:first-child {
  margin-top: 14px;
}

.ui.card:last-child {
  margin-bottom: 14px;
}

/* .ui.card>.content>.header:not(.ui) {
  color: rgb(51, 110, 153);
} */