html {
  background-color: rgb(98, 224, 255);
  text-align: center;
}
body {
  background-color: rgb(98, 224, 255);
  text-align: center;
}

.App {
  text-align: center;
  background-color: rgb(98, 224, 255);
  margin-top: 60px;
}

@media (prefers-reduced-motion: no-preference) {
  #money-logo {
    animation: App-logo-spin infinite 15s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#money-logo {
  width: 200px;
  height: 100%;
}

.ConverterContainer {
  margin-top: 10px;
}